.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: #000;
  margin-top: 55px;
  font-family: Verdana, Times-New-Roman, Arial, sans-serif;
  color: #FFF;
}
p {
    padding: 10px;
    margin: 10px;
    font-size: 20px; 
}
img {
  border-radius: 20px;
  transition: 500ms;
}
img:hover {
  border-radius: 0px;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: #000;
  color: #FFF;
}
#nice {
  font-family: "Brush Script MT"; Verdana, Times-New-Roman, Arial, sans-serif;
  font-size: 50px;
  text-align: center;
  background: url(https://i.pinimg.com/originals/26/fe/d1/26fed1108e9f0fba6459d29e044a964d.jpg);
  background-repeat: round; 
  color: #FFF;
}
#drivers {
  border: thick dashed #B8860B;
  background-color: #000;
  padding: 20px;
  margin: 20px;
}
#action {
  color: #000;
  border: thin solid #B8860B;
  background-color: #FFF;
  padding: 50px;
  margin: 50px;
  font-weight: bold;
  text-align: center;
}
.facts {
  padding: 25px;
  margin: 30px;
  border: thick goldenrod solid;
  font-size: 20px;
}
.buy {
  padding: 15px;
  margin: 15px;
  color: white;
  border: solid goldenrod thick;
  font-size: 20px;
  text-align: center;
}
.name {
font-weight: bold;
}
.car {
font-style: italic;
}
.title {
  font-family: "Brush Script MT"; Verdana, Times-New-Roman, Arial, sans-serif;
  font-size: 35px;
  color: #B8860B;
  text-shadow: 2px 2px #000;
}
.drink:hover {
  transform: scale(1.1);
  transition: 500ms;
}
.ingredients {
  padding: 25px;
  margin: 20px;
  border: thick goldenrod solid;
  font-weight: bold;
}
.container {
  display: grid;
  grid-template-columns: fit-content(150px);
  grid-auto-rows: fit-content(150px);  
  text-align: center; 
}
.text1 {
  grid-column: 2;
  grid-row: 1;  
}
.image1 {
  grid-column: 1 / 2;
  grid-row: 1;
}
.text2 {
  grid-column: 2;
  grid-row: 3;
}
.image2 {
  grid-column: 1 / 2;
  grid-row: 3;
}
a {
  transition: 500ms;
  color: goldenrod; 
}
a:hover {
  color: black;
  border: thin solid goldenrod;
  background-color: white;
}
a:active {
  border: thick solid goldenrod;
}
nav li {
  list-style-type: none;
  transition: 500ms;
  display: inline-block;
  padding: 15px;
  font-size: 18px;
}
nav ul {
  list-style-type: none;
  justify-content: space-around;
  margin: 0px;
}
nav a:link,
nav a:visited {
  border: 0px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}
nav li:hover {
  list-style-type: none;
  transition: 500ms;
  background-color: goldenrod;
  color: black; 
}
nav li:active {
  transition: 500ms; 
}
nav a:hover { 
  color: black; 
  background-color: transparent;  
  text-decoration: underline; 
}
nav {
  background-color: rgba(127, 127, 127, 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
@media screen and (max-width: 480px) {
  body {
    margin-top:100px;   
  }
}
@media screen and (max-width: 600px) {
  img {
    width:400px;
    height:auto;
  }
  #energy {
    width: 200px;
    height: auto;
  }
  .drink {
    width: 100px;
    height: auto;
  }
}